@import "../../App.scss";
.savedCard {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-inline: 10px;
    margin-top: 10px;

    @include mobile {
        gap: 10px;
    }

    .container {
        position: relative;
        width: 350px;
        height: 200px;
        border-radius: 5px;
        transition: transform 0.5s ease-in-out;
        overflow: hidden;

        @include mobile {
            width: 150px;
            height: 250px;
        }

        .textContainer {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            z-index: 9;
            color: white;

            .delete {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
                width: max-content;
                padding: 2px;
                background: transparent;
            }
            .wrapper {
                clip-path: circle(0px at 170px 100px);
                padding: 20px;
                margin-top: auto;

                text-align: center;
                transition: clip-path 1s ease-in-out;
                background-color: rgb(17, 17, 50, 0.7);

                h2 {
                    color: var(--color-primary);

                    @include mobile {
                        font-size: clamp(16px, 5vw, 20px);
                    }
                }
                h2:hover {
                    text-decoration: underline var(--color-primary);
                }
            }
        }
        .imageContainer {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: var(--color-secondary-bg);
                border: none;

                @include mobile {
                    object-fit: cover;
                }
            }
        }
    }
    .container:hover {
        cursor: pointer;
        transform: translateY(-10%);
        z-index: 3;
        .textContainer {
            .delete {
                display: block;
            }
            .wrapper {
                clip-path: circle(1120px);
            }
        }
    }
}
