.landing__page {
    position: relative;
    height: 100%;
}
.landing__page > Link {
    text-decoration: none;
    list-style: none;
}
.landingpage__header {
    position: absolute;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: max(2rem, calc(30vw - 10rem) / 2);
}
.site__logo {
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 2rem;
    color: red;
    font-weight: 900;
    text-transform: uppercase;
}
.landingpage__btn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0;
    border: 0;
    border-radius: 2px;
    background: red;
    color: white;
}
.landingpage__face {
    width: 100%;
    height: 100vh;
}
.bg__overlay {
    position: absolute;
    display: grid;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(15, 15, 15, 0.4), black);
    color: white;
    text-align: center;
}
.header__text {
    display: grid;
    place-items: center;
    gap: 1rem;
}
.header__text > h1 {
    width: 70vw;
    font-size: clamp(2rem, 4vw, 3.5rem);
}
.header__text .watch {
    font-size: clamp(1.3rem, 4vw, 1.7rem);
}
.header__text .ready {
    width: clamp(20rem, 50vw, 55vw);
    font-size: clamp(0.5rem, 4vw, 1.3rem);
}
.header__input {
    width: 23rem;
    padding-block: 1.3rem;
    padding-left: 1rem;
    border: 1px solid gray;
    background: rgba(15, 15, 15, 0.8);
    border-radius: 5px;
}
.header__input:focus {
    color: white;
}
.getstarted {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: clamp(20rem, 58vw, 70vw);
}
.header__btn {
    padding: 1rem 2.5rem;
    margin-left: 0.7rem;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0;
    border: none;
}
.landingpage__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
