.mylist {
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/qJQwIPt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}
.mylist__header {
    height: 10rem;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
}
.mylist__header h1 {
    font-size: clamp(2.5rem, 6vw, 4rem);
}
.saved__posters {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
    gap: 0.5rem;
}
.saved__poster {
    max-height: 150px;
    object-fit: contain;
}
.saved__moviedetails {
    position: relative;
    transition: transform 450ms;
}
.saved__desc {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 40%,
        transparent 40%
    );
    padding: 0.7rem 1rem;
    color: white;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.saved__movietitle {
    position: absolute;
    bottom: 10%;
    white-space: pre-wrap;
    font-size: 1.3rem;
    color: #edf2f8;
}

.delete__saved {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 1.5rem;
    height: 1.6rem;
    float: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}
.delete__saved:hover {
    transform: scale(1.3);
}
.saved__desc:hover {
    opacity: 1;
}
